html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height   8em */
	margin-bottom:  4.5em;    
	padding-top: 4.5em;
	/*counter-reset: h1counter; */
	
}

.toc{
     font-size: 1.30em;
}

.lead {
    font-size: 1.30em;
    font-weight: 600;
    color: #ff7601;
}


.main-text {
	font-size: 1.3em;
        padding-right: 2em;
}

.container {
	font-size: 1.3em;
}

.jumbotron {
	background: #8fcad6;
}

.jumbotron h1 {
	color: #ffffff;
	letter-spacing: 0.2em;
	font-size: 3em;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.footer {
	position: absolute;
	padding-right: 1em;
	padding-top: 1.5em;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 8em;
	background-color: black;
	bottom: 0;
}

.footer-links {
	margin: 0 0 0 0em;
	padding: 0;
	float: right;
	text-align: right;
}

.footer-links>li {
	padding-right: 1em;
	display: inline-block;
}

.navbar-default {
	background-color: black;
	border-color: #12421f;
	text-transform: uppercase;
	font-size: 1.3em;
}

.navbar-default .navbar-brand {
	color: #ffffff;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus
	{
	color: #ffffff;
}

.navbar-default .navbar-text {
	color: #ffffff;
}

.navbar-default .navbar-nav>li>a {
	color: #ffffff;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus
	{
	color: #ffffff;
}

.navbar-default .navbar-nav>li>.dropdown-menu {
	background-color: black;
}

.navbar-default .navbar-nav>li>.dropdown-menu>li>a {
	color: #ffffff;
}

.navbar-default .navbar-nav>li>.dropdown-menu>li>a:hover,
	.navbar-default .navbar-nav>li>.dropdown-menu>li>a:focus {
	color: #ffffff;
	background-color: #12421f;
}

.navbar-default .navbar-nav>li>.dropdown-menu>li>.divider {
	background-color: #12421f;
}

.navbar-default .navbar-nav .open .dropdown-menu>.active>a,
	.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
	color: #ffffff;
	background-color: #12421f;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover,
	.navbar-default .navbar-nav>.active>a:focus {
	color: #ffffff;
	background-color: #12421f;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover,
	.navbar-default .navbar-nav>.open>a:focus {
	color: #ffffff;
	background-color: #12421f;
}

.navbar-default .navbar-toggle {
	border-color: #12421f;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
	{
	background-color: #12421f;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #ffffff;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #ffffff;
}

.navbar-default .navbar-link {
	color: #ffffff;
}

.navbar-default .navbar-link:hover {
	color: #ffffff;
}

/* add by yhzhang */
.blueimp-gallery > .description {
	position: absolute;
	top: 30px;
	left: 15px;
	color: #fff;
	display: none;
  }
  .blueimp-gallery-controls > .description {
	display: block;
  }
/* add by yhzhang */

@media ( max-width : 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
		.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>.active>a,
		.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
		.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
		color: #ffffff;
		background-color: #12421f;
	}
}
